################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ecommerceplatform.client/.vscode
/ecommerceplatform.client/obj/Debug
/ECommercePlatform.Server/bin/Debug/net8.0
/ECommercePlatform.Server/obj
/path/to/your/obj
