<div class="container mt-5" *ngIf="product">
  <div class="row">
    <div class="col-md-6">
      <div class="product-main-image mb-3">
        <div class="zoom-container" #zoomContainer (mousemove)="onImageZoom($event, zoomContainer)"
          (mouseleave)="resetZoom()">
          <img [src]="mainImageUrl" class="product-img" [alt]="product.name">
        </div>
      </div>

      <div class="d-flex justify-content-start thumbnail-container">
        <div *ngFor="let image of product.images; let i = index" class="mx-1">
          <img src="{{image.imageUrl}}" class="img-thumbnail" [class.border-primary]="i === selectedImageIndex"
            style="width: 80px; height: 80px; cursor: pointer; object-fit: cover;" alt="{{product.name}}"
            (click)="changeMainImage(i)">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="fw-bold">{{product.name}}</h2>

      <div class="mb-3">
        <span class="text-muted">{{product.code}}</span>
      </div>

      <div class="mb-4">
        <h5>Description</h5>
        <p>{{product.description}}</p>
      </div>

      <div class="d-flex align-items-center mb-4">
        <span *ngIf="product.discountPrice" class="text-decoration-line-through text-muted me-2">
          {{product.price}} JOD
        </span>
        <span class="text-primary fs-4 fw-bold">
          <ng-container *ngIf="product.discountPrice">{{product.discountPrice}}</ng-container>
          <ng-container *ngIf="!product.discountPrice">{{product.price}}</ng-container>
          JOD
        </span>
      </div>

      <div class="mb-4">
        <label class="form-label fw-bold">Quantity</label>
        <div class="input-group" style="max-width: 150px;" [class.disabled]="product.stockQuantity == 0">
          <button class="btn btn-outline-secondary" type="button" (click)="decrementQuantity()"
            [disabled]="quantity <= 1 || product.stockQuantity == 0">−</button>
          <input type="number" class="form-control text-center" [value]="quantity"
            [disabled]="product.stockQuantity == 0" (change)="updateQuantity($event)" min="1"
            [max]="product.stockQuantity">
          <button class="btn btn-outline-secondary" type="button" (click)="incrementQuantity()"
            [disabled]="quantity >= product.stockQuantity || product.stockQuantity == 0">+</button>
        </div>
      </div>


      <button class="btn btn-info text-white px-4 py-2 mb-3" (click)="addToCart()"
        [disabled]="product.stockQuantity == 0">
        Add To Cart
      </button>

      <div *ngIf="product.stockQuantity > 0" class="mt-2 text-success">
        <i class="bi bi-check-circle-fill"></i> In Stock ({{product.stockQuantity}} available)
      </div>
      <div *ngIf="product.stockQuantity <= 0" class="mt-2 text-danger">
        <i class="bi bi-x-circle-fill"></i> Out of Stock
      </div>
    </div>
  </div>
</div>