.object-fit-cover {
  object-fit: cover;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .object-fit-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.hover-overlay {
  transition: opacity 0.3s;
  opacity: 0;
}

.hover-overlay:hover {
  opacity: 1;
}