<!-- admin-aside-menu.component.html -->
<div class="layout-sidebar">
  <div class="layout-menu-container">
      <div class="layout-menu-logo">
          <img src="assets/logo.png" alt="DesignHire Logo" class="logo-image" />
          <span class="app-name">DesignHire</span>
      </div>
      
      <p-panelMenu 
          [model]="model" 
          [multiple]="false"
          styleClass="layout-menu">
      </p-panelMenu>

      <div class="layout-menu-footer">
          <button pButton 
                  type="button" 
                  (click)="logout()" 
                  label="Logout" 
                  icon="pi pi-sign-out" 
                  class="p-button-outlined p-button-secondary w-full">
          </button>
      </div>
  </div>
</div>