.layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--surface-ground);
  
    &.layout-static {
        .layout-main-container {
            margin-left: 300px;
            transition: margin-left 0.2s;
        }
  
        &.layout-static-inactive {
            .layout-main-container {
                margin-left: 0;
            }
        }
    }
  
    &.layout-mobile-active {
        .layout-sidebar {
            transform: translateX(0);
        }
    }
  }
  
  .layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 2rem;
    transition: margin-left 0.2s;
  }
  
  .layout-main {
    flex: 1 1 auto;
  }
  
  .content-wrapper {
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--surface-card);
  }
  
  .layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mask-bg);
    z-index: 998;
  
    &.layout-mask-active {
        display: block;
    }
  }
  
  @media (max-width: 991px) {
    .layout-wrapper {
        &.layout-static {
            .layout-main-container {
                margin-left: 0;
            }
        }
  
        .layout-sidebar {
            transform: translateX(-100%);
            position: fixed;
            height: 100%;
            z-index: 999;
        }
    }
  }