<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedCategories()"
              [disabled]="!selectedCategories || !selectedCategories.length"></button>
          </div>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="categories" [rows]="10" [paginator]="true" [globalFilterFields]="['name']"
        [(selection)]="selectedCategories" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th>Image</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
          <tr>
            <td>
              <p-tableCheckbox [value]="category"></p-tableCheckbox>
            </td>
            <td>{{category.name}}</td>
            <td style="width: 14%; min-width: 10rem;">
              <img [src]="category.imageUrl" [alt]="category.name" width="100" class="shadow-4" />
            </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                (click)="editCategory(category)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-dialog [(visible)]="categoryDialog" [style]="{width: '450px'}" header="Category Details" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" pInputText id="name" [(ngModel)]="category.name" required autofocus
            [ngClass]="{'ng-invalid ng-dirty': submitted && !category.name}" />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !category.name">Name is required.</small>
        </div>
        <div class="field">
          <label for="image">Image</label>
          <p-fileUpload #fileUpload mode="basic" chooseLabel="Choose Image" accept="image/*" [maxFileSize]="1000000"
            (onSelect)="onFileSelect($event)">
          </p-fileUpload>
        </div>
        <div *ngIf="category.imageUrl" class="field">
          <img [src]="category.imageUrl" [alt]="category.name" width="150" class="mt-2 shadow-4" />
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCategory()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteCategoriesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete the selected categories?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteCategoriesDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>