@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@import 'assets/styles/layout-styles.scss';

@import "assets/styles/variables";
@import "assets/styles/layout";
@import "assets/styles/responsive";
@import "assets/styles/menu";
@import "assets/styles/config";
@import "assets/styles/content";
@import "assets/styles/footer";
@import "assets/styles/utils";
@import "assets/styles/typography";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p-inputtext {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-theme-light {
    @import 'assets/styles/theme_light';
}

.layout-theme-dark {
    @import 'assets/styles/theme_dark';
}